.right-menu-container {
    height: 100vh;
    background-color: white;
    /* position: fixed;
    right: 0;
    top: 0; */
    padding: 10px 20px;
    position: sticky;
    top: 0;


}

.user {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;

}

.user-image {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text {
    font-size: 16px;
    margin: 0;
}

.small-text {
    font-size: 14px;
    margin: 0;
}

.title-text2 {
    font-size: 14px;
    margin: 0;
}

.small-text2 {
    font-size: 12px;
    margin: 0;
}

.user-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 253, 253);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.break-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 253, 253);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.reading-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 253, 253);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.button-break {
    padding: 5px;
    border-radius: 40%;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .right-menu-container {
        position: relative;
        top: 0;
    }

}